
<template>
    <div>
        <v-container fluid>
            <v-layout row>
                <v-flex xs6>
                    <file-upload
                        class="dropbox text-center col-lg-12"
                        :post-action="postAction"
                        :headers="headers"
                        :accept="accept"
                        :multiple="multiple"
                        :drop="drop"
                        :add-index="addIndex"
                        v-model="files"
                        @input-file="inputFile"
                        @input-filter="inputFilter"
                        ref="upload">
                        <i class="fa fa-upload"></i>
                        <div class="op">Selecciona el recurso que quieres subir</div>
                        <div class="or g-font-weight-500">O arrastra y suelta el recurso</div>
                    </file-upload>
                </v-flex>
                <v-flex xs6>
                    <v-form v-model="valid" ref="form" lazy-validation class="pa-5">
                        <v-text-field
                            ref="name"
                            v-model="product.name"
                            :rules="nameRules"
                            label="Product name"
                            placeholder="Write the product name"
                            required
                        ></v-text-field>
                        <ckeditor type="classic" v-model="product.description" :rules="descriptionRules" :config="editorConfig" class="mb-10"></ckeditor>

                        <v-text-field
                            label="Quantity"
                            v-model="product.quantity"
                            placeholder="Write quantity"
                            :rules="quantityRules"
                            required
                        ></v-text-field>
                        <v-text-field
                            label="Price"
                            v-model="product.price"
                            placeholder="Write price"
                            prefix="$"
                            :rules="priceRules"
                            required
                        ></v-text-field>

                        <v-btn color="primary" @click="submit" :disabled="!valid">Save
                            <v-icon dark right>check_circle</v-icon>
                        </v-btn>

                        <v-btn color="red" dark @click="clear">Cancel
                            <v-icon dark right>block</v-icon>
                        </v-btn>

                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </div>



</template>
<style>
    .dropbox {
        background: #f4f4f4;
        color: #999;
        font-size: 21px;
        font-weight: 300;
        padding: 48px 10px!important;
        cursor: pointer!important;
    }
    .dropbox i {
        font-size: 80px;
        color: #c5c6c7;
    }
    .w100 {
        width: 100%!important;
    }
    .ck-editor__editable_inline{
        min-height: 150px;
    }
</style>
<script>
    import FileUpload from 'vue-upload-component';
    export default {
        props: ['product'],
        components: {
            FileUpload,
        },
        data: () => ({
            valid: false,
            headers: {},
            accept : 'image/*,video/*,application/pdf',
            multiple : false,
            drop : true,
            addIndex : false,
            files : [],
            postAction : '',
            nameRules: [
                (v) => !!v || 'Title is required'
            ],
            descriptionRules: [
                (v) => !!v || 'Description is required'
            ],
            quantityRules: [
                (v) => !!v || 'Short description is required'
            ],
            priceRules: [
                (v) => !!v || 'Price is required',
                (v) => !isNaN(v) || 'Price must be a number',
                (v) => parseFloat(v) < 10000000 || 'Price must lower than 10.000.000'
            ],
            editorConfig: {
                toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                    ]
                },
                height: '400px'
            }

        }),
        methods: {
            submit () {
                if (this.$refs.form.validate()) {
                    this.$emit('save', this.product)
                }
            },
            clear () {
                this.$emit('cancel')
            },
            inputFile: function (newFile, oldFile) {
                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    // Get response data
                    console.log('response', newFile.response)
                    if (newFile.xhr) {
                        //  Get the response status code
                        console.log('status', newFile.xhr.status)
                    }
                }
            },
            /**
             * Pretreatment
             * @param  Object|undefined   newFile   Read and write
             * @param  Object|undefined   oldFile   Read only
             * @param  Function           prevent   Prevent changing
             * @return undefined
             */
            inputFilter: function (newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    // Filter non-image file
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                // Create a blob field
                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            }
        }
    }
</script>
