<template>
    <div>
        <h4 class="mb-5">LIST PRODUCTS</h4>
        <v-row no-gutters>
            <v-col md="4" v-for="(product, index) in products" :key="index">
                <v-card
                    class="mx-2 my-2"
                >
                    <v-img
                        class="white--text align-end background-containt" contain="true"
                        height="200px"
                        :src="(product.images.length > 0) ? product.images[0].src : '/images/default-placeholder.png'"
                    >
                    </v-img>
                    <router-link to="/product-detail">
                        <v-card-title class="product-name" @click="addCurrentProduct(product)"> {{ product.name }}
                        </v-card-title>
                    </router-link>
                    <v-card-text class="text--primary">
                        <div v-html="product.description"></div>

                        <div class="text-center">
                            <span class="title font-weight-bold red--text text--darken-4">{{ product.price | numeralFormat('$ 0,0[.]00') }}</span>
                        </div>
                    </v-card-text>
                    <v-card-actions text-center>
                        <router-link :to="{ name: 'ProductEdit', params: {id: product.id } }">
                            <v-btn
                                class="blue darken-2 white--text"
                                text
                                large
                                @click.native="viewUpdateProduct()">
                                Edit
                                <v-icon class="ml-5">fas fa-pencil-alt</v-icon>
                            </v-btn>
                        </router-link>
                        <v-btn
                            class="red darken-4 white--text"
                            text
                            large
                            @click.native="confirmDeleteProduct(product.id)">
                            Delete
                            <v-icon class="ml-5">fas fa-trash</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>

        <v-dialog
            v-model="getPopupDelete"
            max-width="350"
        >
            <v-card>
                <v-card-title class="headline">Delete Product</v-card-title>

                <v-card-text>
                    Are you sure you want to delete this product?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="cancelDeleteProduct()"
                    >
                        Cancel
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="deleteProduct()"
                    >
                        Delete
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <router-link to="/admin/product/new">
            <v-btn
                class="btn-float blue darken-2"

                dark
                absolute
                top
                right
                fab
            >
                <v-icon>fas fa-plus</v-icon>
            </v-btn>
        </router-link>
    </div>

</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        props: ['products'],
        data: {
            dialog: false
        },
        components: {},
        methods: {
            ...mapActions({
                delete: 'product/delete',
                currentProduct: 'product/currentProduct',
                showOrHiddenPopupDelete: 'product/showOrHiddenPopupDelete',
                showMessage: 'common/showMessage'
            }),

            addProductToCart(product) {
                this.addShopping(product);
            },
            addCurrentProduct(product) {
                this.currentProduct(product);
            },
            confirmDeleteProduct(productId){
                console.log('id',productId)
                this.currentProduct(productId)
                this.showOrHiddenPopupDelete();
            },
            deleteProduct() {
                this.delete(this.getCurrentProduct).then(() => {
                    this.showOrHiddenPopupDelete();
                    this.showMessage({text: 'Product has been deleted', icon: 'info_outline', color: 'green'})
                });
            },
            cancelDeleteProduct(){
                this.showOrHiddenPopupDelete();
            },
            viewUpdateProduct(){

            }
        },
        computed: {
            ...mapGetters({
                getPopupDelete: 'product/getPopupDelete',
                getCurrentProduct: 'product/getCurrentProduct',
            }),
        },
    };
</script>

<style scoped>
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 15px
    }

    .product-name:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }

    .v-image__image--cover {
        background-size: contain !important;
    }

    .v-card__actions{
        justify-content: center;
    }
    .btn-float{
        top:35px!important
    }
</style>

