<template>
    <div>
        <h4 class="mb-5">LIST PRODUCTS</h4>
        <v-row no-gutters>
            <v-col md="4" v-for="(product, index) in products" :key="index">
                <v-card
                    class="mx-2 my-2"
                >
                    <v-img
                        class="white--text align-end background-containt" contain="true"
                        height="200px"
                        :src="(product.images.length > 0) ? product.images[0].src : '/images/default-placeholder.png'"
                    >
                    </v-img>
                    <router-link to="/product-detail">
                        <v-card-title class="product-name" @click="addCurrentProduct(product)"> {{ product.name }}
                        </v-card-title>
                    </router-link>
                    <v-card-text class="text--primary">
                        <div v-html="product.description"></div>

                        <div class="text-center">
                            <span class="title font-weight-bold red--text text--darken-4">{{ product.price | numeralFormat('$ 0,0[.]00') }}</span>
                        </div>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                            class="green darken-3 white--text"
                            text
                            large
                            block
                            @click.native="addProductToCart(product)">
                            Add to card
                            <v-icon class="ml-5">fas fa-shopping-cart</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        props: ['products'],

        components: {},
        methods: {
            ...mapActions({
                add: 'shoppingcart/add',
                currentProduct: 'product/currentProduct',
            }),

            addProductToCart(product) {
                this.add(product);
            },
            addCurrentProduct(product) {
                this.currentProduct(product);
            },
        },
    };
</script>

<style scoped>
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 15px
    }

    .product-name:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }

    .v-image__image--cover {
        background-size: contain !important;
    }

</style>

