<template>
    <div>
        <v-container fluid>
            <v-layout row>
                <v-flex xs6>
                    <div v-swiper:mySwiper="swiperOption">
                        <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
                            <swiper-slide :key="banner" v-for="banner in currentProduct.images">
                                <img :src="banner.src">
                            </swiper-slide>
                            <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                            <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                        </swiper>
                        <!-- swiper2 Thumbs -->
                        <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
                            <swiper-slide :key="banner" v-for="banner in currentProduct.images">
                                <img :src="banner.src">
                            </swiper-slide>
                        </swiper>
                    </div>
                </v-flex>
                <v-flex xs6>
                    <v-card tile flat class="content-detail">
                        <h1 class="productName" id="productName">{{currentProduct.name}}</h1>
                        <v-card-text class="text--primary">
                            <div v-html="currentProduct.description"></div>
                            <div class="text-center">
                                <span class="title font-weight-bold red--text text--darken-4">{{ currentProduct.price | numeralFormat('$ 0,0[.]00') }}</span>
                            </div>
                        </v-card-text>
                        <v-card-actions>
                            <div class="text-center">
                                <v-btn class="ma-2" tile color="success" dark large @click.native="addProductToCart(currentProduct)">
                                    <v-icon class="ml-5">fas fa-shopping-cart</v-icon>  Add to card
                                </v-btn>
                                <router-link to="/shopping-cart" class="action-shopping-cart">
                                    <v-btn class="ma-2" tile outlined color="success" large>View Your Shopping Cart</v-btn>
                                </router-link>
                            </div>

                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';

    export default {
        data() {
            return {
                banners: [ 'https://d22k5h68hofcrd.cloudfront.net/catalog/product/cache/314dec89b3219941707ad62ccc90e585/6/Q/6QW57LA-1_T1576678819.png', 'https://d22k5h68hofcrd.cloudfront.net/catalog/product/cache/314dec89b3219941707ad62ccc90e585/6/Q/6QV91LA-1_T1576679827.png', 'https://d22k5h68hofcrd.cloudfront.net/catalog/product/cache/314dec89b3219941707ad62ccc90e585/6/Q/6QV99LA-1_T1582323174.png' ],
                swiperOptionTop: {
                    loop: true,
                    loopedSlides: 5, // looped slides should be the same
                    spaceBetween: 10,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                swiperOptionThumbs: {
                    loop: true,
                    loopedSlides: 5, // looped slides should be the same
                    spaceBetween: 10,
                    centeredSlides: true,
                    slidesPerView: 'auto',
                    touchRatio: 0.2,
                    slideToClickedSlide: true
                }
            }
        },
        components: {
        },
        computed: {
            ...mapGetters({
                currentProduct: 'product/getCurrentProduct',
            }),
        },
        methods: {
            ...mapActions({
                addProduct: 'product/addProduct',
                showOrHiddenModal: 'product/showOrHiddenModal',
            }),
            addProductToCart(product) {
                this.addProduct(product);
            },
            rated(rate) {
                return `${rate * 20}%`;
            },
            openModal() {
                this.showOrHiddenModal();
            },
        },
        mounted() {
            this.$nextTick(() => {
                const swiperTop = this.$refs.swiperTop.$swiper
                const swiperThumbs = this.$refs.swiperThumbs.$swiper
                swiperTop.controller.control = swiperThumbs
                swiperThumbs.controller.control = swiperTop
            })
        }
    };
</script>
<style lang="scss" scoped>

    .swiper.gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 1rem 0;
    }

    .swiper-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
    }
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
    }
    .swiper.gallery-thumbs .swiper-slide-active {
        opacity: 1!important;
    }
    .swiper.gallery-thumbs .swiper-slide {
        width: 35%;
        height: 100%;
        opacity: .4;
        text-align: center;
    }
    .swiper .swiper-slide {
        background-image: url(/images/example/1.jpg);
    }
    .swiper .swiper-slide{
        background-size: cover;
        background-position: 50%;
    }
    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        text-align: center;
    }

    .swiper.gallery-thumbs .swiper-slide img{
        width: 150px;
    }




    .content-detail h1.productName {
        font-family: "Louis Vuitton Web","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: 700;
        font-size: 2.375rem;
        line-height: 1.0526315789473684;
        letter-spacing: 0;
    }
    .content-detail{
        padding-left: 3.125vw;
        padding-right: 3.125vw;
    }

</style>
