<template>
    <div>
        <h4 class="mb-5">MY SHOPPING BAG</h4>
        <v-container fluid>
            <v-layout row>
                <v-flex xs6>
                    <v-layout row>
                        <v-list >
                            <v-list-item class="shopping-list"
                                v-for="shopping in shoppingcart"
                                @click=""
                            >
                                <v-list-item-avatar>
                                    <v-img class="shopping-image" :src="(shopping.product.images.length > 0) ? shopping.product.images[0].src : ''" aspect-ratio="1.7"></v-img>
                                </v-list-item-avatar>

                                <v-list-item-content>
                                    <v-list-item-title class="shopping-name">
                                        {{shopping.product.name}}
                                    </v-list-item-title>
                                    <v-list-item-subtitle class="shopping-total">
                                        Total: {{parseInt(shopping.total_products)}}
                                    </v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-action>
                                   <span class="shopping-mount">{{ shopping.total_products * shopping.product.price | numeralFormat('$ 0,0[.]00') }}</span>
                                </v-list-item-action>
                            </v-list-item>
                        </v-list>
                        <div class="shopping-bag-total">
                            <b class="shopping-bag-total-text">Total</b>
                            <em class="shopping-bag-total-value">{{ totalPrice() | numeralFormat('$ 0,0[.]00') }}</em>
                        </div>
                    </v-layout>
                </v-flex>
                <v-flex xs6 class="pa-5">
                    <v-form v-model="valid" ref="form" lazy-validation class="pa-5">
                        <v-layout row>
                            <h4>Proceed</h4>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs12 >
                                <v-layout row>
                                <v-flex xs6 >
                                    <v-text-field
                                        ref="name"
                                        v-model="form.firstname"
                                        :rules="firstnameRules"
                                        label="First Name"
                                        placeholder="Write the first name"
                                        class="pa-2"
                                        required
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs6 >
                                    <v-text-field
                                        ref="name"
                                        v-model="form.lastname"
                                        :rules="lastnameRules"
                                        label="Last Name"
                                        placeholder="Write the last name"
                                        required
                                        class="pa-2"
                                    ></v-text-field>
                                </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.email"
                                            :rules="emailRules"
                                            label="Email"
                                            placeholder="Write the email"
                                            class="pa-2"
                                            required
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.phone"
                                            :rules="phoneRules"
                                            label="Phone Number"
                                            placeholder="Write the Phone Number"
                                            required
                                            class="pa-2"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row>
                                    <v-text-field
                                        ref="name"
                                        v-model="form.address"
                                        :rules="addressRules"
                                        label="Street Address"
                                        placeholder="Write the street Address"
                                        class="pa-2"
                                        required
                                    ></v-text-field>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.country"
                                            :rules="countryRules"
                                            label="Country"
                                            placeholder="Write the country"
                                            class="pa-2"
                                            required
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.state"
                                            :rules="stateRules"
                                            label="State"
                                            placeholder="Write the State"
                                            required
                                            class="pa-2"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-flex xs12>
                                <v-layout row>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.city"
                                            :rules="countryRules"
                                            label="City"
                                            placeholder="Write the country"
                                            class="pa-2"
                                            required
                                        ></v-text-field>
                                    </v-flex>
                                    <v-flex xs6 >
                                        <v-text-field
                                            ref="name"
                                            v-model="form.code"
                                            :rules="zipRules"
                                            label="Zip Code"
                                            placeholder="Write the Zip Code"
                                            required
                                            class="pa-2"
                                        ></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                            <v-btn color="primary" @click="submit" :disabled="!valid">Save
                                <v-icon dark right>check_circle</v-icon>
                            </v-btn>

                        </v-layout>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>

    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import { Form } from "vform";

    export default {
        props: ['shoppingcart'],
        data: () => ({
            form: new Form({
                firstname: null,
                lastname: null,
                email: null,
                phone: null,
                address: null,
                country: null,
                city: null,
                code: null
            }),
            firstnameRules: [
                (v) => !!v || 'First name is required'
            ],
            lastnameRules: [
                (v) => !!v || 'Last name is required'
            ],
            emailRules: [
                (v) => !!v || 'Email is required'
            ],
            phoneRules: [
                (v) => !!v || 'Phone Number is required'
            ],
            addressRules: [
                (v) => !!v || 'Street Address is required'
            ],
            countryRules: [
                (v) => !!v || 'Country is required'
            ],
            stateRules: [
                (v) => !!v || 'State is required'
            ],
            cityRules: [
                (v) => !!v || 'State is required'
            ],
            zipRules: [
                (v) => !!v || 'State is required'
            ],
            items: [
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Jan 9, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Recipes', subtitle: 'Jan 17, 2014' },
                { icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Work', subtitle: 'Jan 28, 2014' },
            ],
            items2: [
                { icon: 'assignment', iconClass: 'blue white--text', title: 'Vacation itinerary', subtitle: 'Jan 20, 2014' },
                { icon: 'call_to_action', iconClass: 'amber white--text', title: 'Kitchen remodel', subtitle: 'Jan 10, 2014' },
            ],
            valid: false,
        }),
        components: {
        },
        methods: {
            ...mapActions({
                addProduct: 'product/addProduct',
                currentProduct: 'product/currentProduct',

            }),
            submit () {
                if (this.$refs.form.validate()) {
                    this.$emit('save', this.form)
                }
            },
            clear () {
                this.$emit('cancel')
            },
            addProductToCart(product) {
                this.addProduct(product);
            },
            addCurrentProduct(product) {
                this.currentProduct(product);
            },
            totalPrice() {
                return this.getProductsInCart.reduce((current, next) =>
                    current + (parseInt(next.total_products) * next.product.price), 0);
            },
        },
        computed: {
            ...mapGetters({
                getProductsInCart: 'shoppingcart/getProductsInCart',
            }),
        },
    };
</script>

<style scoped>
    .v-list{
        width: 100%;
    }
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 15px
    }

    .product-name:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }

    .v-image__image--cover {
        background-size: contain !important;
    }
    .shopping-list .v-list-item__avatar{
        width: 120px!important;
        border-radius: 0%!important;
        height: 120px!important;
    }
    .shopping-name{
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.25;
        letter-spacing: .4px;
    }
    .shopping-mount{
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25;
        letter-spacing: .4px;
    }
    .shopping-bag-total-text, .shopping-bag-total-value{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: .8px;
    }
    .shopping-bag-total{
        width: 100%;
    }
    .btn-float{
        top:35px!important
    }
    .shopping-bag-total-value{
        float: right;
    }
</style>

