<template>
    <div>
        <v-container fluid>
            <v-layout row>
                <v-flex xs6>
                    <v-form v-model="valid" ref="form" lazy-validation class="pa-5">
                        <v-text-field
                            ref="name"
                            v-model="form.firstname"
                            :rules="firstnameRules"
                            label="First name "
                            placeholder="Write the first name"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="form.lastname"
                            :rules="lastnameRules"
                            label="Last name"
                            placeholder="Write the ast name"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="form.email"
                            :rules="emailRules"
                            label="Email"
                            placeholder="Write the Email"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="form.password"
                            :rules="passwordRules"
                            label="Password"
                            placeholder="Write the Password"
                            required
                        ></v-text-field>
                        <v-btn color="primary" @click="submit" :disabled="!valid">Save
                            <v-icon dark right>check_circle</v-icon>
                        </v-btn>

                        <v-btn color="red" dark @click="clear">Cancel
                            <v-icon dark right>block</v-icon>
                        </v-btn>
                    </v-form>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    import FileUpload from 'vue-upload-component';
    import { Form } from "vform";

    export default {
        components: {
            FileUpload,
        },
        data: () => ({
            form: new Form({
                firstname: null,
                lastname: null,
                email: null,
                password: null,
            }),
            valid: false,
            firstnameRules: [
                (v) => !!v || 'Firstname is required'
            ],
            lastnameRules: [
                (v) => !!v || 'Lastname is required'
            ],
            emailRules: [
                (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
            passwordRules: [
                (v) => !!v || 'Password is required'
            ],
        }),
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    this.$emit('save', this.form)
                }
            },
            clear () {
                this.$emit('cancel')
            },
        }
    }
</script>

<style scoped>

</style>
