<template>
    <div>
        <h4 class="mb-5">List users</h4>
        <v-row no-gutters>
            <v-col md="3" v-for="(user, index) in users" :key="index">
                <v-card
                    class="mx-2 my-2"
                >
                    <v-img
                        class="white--text align-end img-avatar" contain="true"
                        height="200px"
                        src="/images/default-user.png"
                    >
                    </v-img>
                    <router-link to="/product-detail">
                        <v-card-title class="user-name mb-0" @click="addCurrentUser(user)"> {{ user.displayname }}
                        </v-card-title>
                    </router-link>
                    <v-card-text class="text--primary user-email pt-0">
                        <div v-html="user.email"></div>

                    </v-card-text>
                    <v-card-actions text-center>
                        <router-link :to="{ name: 'UserEdit', params: {id: user.id } }">
                            <v-btn
                                class="blue darken-2 white--text"
                                text
                                large
                                @click.native="viewUpdateProduct()">
                                Edit
                                <v-icon class="ml-5">fas fa-pencil-alt</v-icon>
                            </v-btn>
                        </router-link>
                        <v-btn
                            class="red darken-4 white--text"
                            text
                            large
                            @click.native="confirmDeleteProduct(user.id)">
                            Delete
                            <v-icon class="ml-5">fas fa-trash</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <router-link to="/admin/user/new">
            <v-btn
                class="btn-float blue darken-2"

                dark
                absolute
                top
                right
                fab
            >
                <v-icon>fas fa-plus</v-icon>
            </v-btn>
        </router-link>

        <v-dialog
            v-model="getPopupDelete"
            max-width="350"
        >
            <v-card>
                <v-card-title class="headline">Delete Product</v-card-title>

                <v-card-text>
                    Are you sure you want to delete this user?
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="cancelDeleteUser()"
                    >
                        Cancel
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="deleteUser()"
                    >
                        Delete
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

    </div>

</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        props: ['users'],
        data: {
            dialog: false
        },
        components: {},
        methods: {
            ...mapActions({
                delete: 'user/delete',
                currentUser: 'product/currentUser',
                showOrHiddenPopupDelete: 'product/showOrHiddenPopupDelete',
                showMessage: 'common/showMessage'
            }),

            addProductToCart(product) {
                this.addShopping(product);
            },
            addCurrentUser(product) {
                this.currentUser(product);
            },
            confirmDeleteProduct(productId){
                console.log('id',productId)
                this.currentUser(productId)
                this.showOrHiddenPopupDelete();
            },
            deleteUser() {
                this.delete(this.getCurrentProduct).then(() => {
                    this.showOrHiddenPopupDelete();
                    this.showMessage({text: 'User has been deleted', icon: 'info_outline', color: 'green'})
                });
            },
            cancelDeleteUser(){
                this.showOrHiddenPopupDelete();
            },
            viewUpdateProduct(){

            }
        },
        computed: {
            ...mapGetters({
                getPopupDelete: 'product/getPopupDelete',
                getCurrentProduct: 'product/getCurrentProduct',
            }),
        },
    };
</script>

<style scoped>
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 15px
    }

    .product-name:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }



    .v-card__actions{
        justify-content: center;
    }
    .v-image__image{
        width: 100px !important;
    }
    .user-name, .user-email{
        justify-content: center;
        text-align: center;
    }
    .btn-float{
        top:35px!important
    }
</style>

