
<template>
    <div>
        <v-container fluid>
            <v-layout row>
                <v-flex xs6>
                    <v-form v-model="valid" ref="form" lazy-validation class="pa-5">
                        <v-text-field
                            ref="name"
                            v-model="user.firstname"
                            :rules="firstnameRules"
                            label="First name "
                            placeholder="Write the first name"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="user.lastname"
                            :rules="lastnameRules"
                            label="Last name"
                            placeholder="Write the ast name"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="user.email"
                            :rules="emailRules"
                            label="Email"
                            placeholder="Write the Email"
                            required
                        ></v-text-field>
                        <v-text-field
                            ref="name"
                            v-model="user.password"
                            :rules="passwordRules"
                            label="Password"
                            placeholder="Write the Password"
                            required
                        ></v-text-field>
                        <v-btn color="primary" @click="submit" :disabled="!valid">Save
                            <v-icon dark right>check_circle</v-icon>
                        </v-btn>

                        <v-btn color="red" dark @click="clear">Cancel
                            <v-icon dark right>block</v-icon>
                        </v-btn>
                    </v-form>
                </v-flex>

            </v-layout>
        </v-container>
    </div>



</template>
<style>
    .dropbox {
        background: #f4f4f4;
        color: #999;
        font-size: 21px;
        font-weight: 300;
        padding: 48px 10px!important;
        cursor: pointer!important;
    }
    .dropbox i {
        font-size: 80px;
        color: #c5c6c7;
    }
    .w100 {
        width: 100%!important;
    }
    .ck-editor__editable_inline{
        min-height: 150px;
    }
</style>
<script>
    import FileUpload from 'vue-upload-component';
    export default {
        props: ['user'],
        components: {
            FileUpload,
        },
        data: () => ({
            valid: false,
            headers: {},
            accept : 'image/*,video/*,application/pdf',
            multiple : false,
            drop : true,
            addIndex : false,
            files : [],
            postAction : '',
            valid: false,
            firstnameRules: [
                (v) => !!v || 'Firstname is required'
            ],
            lastnameRules: [
                (v) => !!v || 'Lastname is required'
            ],
            emailRules: [
                (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
            ],
            passwordRules: [
                (v) => !!v || 'Password is required'
            ],
        }),
        methods: {
            submit () {
                if (this.$refs.form.validate()) {
                    this.$emit('save', this.product)
                }
            },
            clear () {
                this.$emit('cancel')
            },
        }
    }
</script>
