<template>
    <div class="app">
        <v-app>
            <v-toolbar dark color="primary" class="fixed-top">
                <v-img src="https://cdn.vuetifyjs.com/images/logos/v-alt.svg" max-height="41" max-width="41"/>
                <v-toolbar-title v-text="title" class="white--text"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn-toggle
                        color="primary"
                        dense
                        group
                        v-if="isAuthenticated"
                    >
                        <router-link to="/admin/product/list">
                            <v-btn :value="1" text class="btn-action">
                                Productos
                                <v-icon class="ml-2">fas fa-box-open</v-icon>
                            </v-btn>
                        </router-link>
                        <router-link to="/admin/user/list">
                        <v-btn :value="2" text class="btn-action">
                            Usuarios
                            <v-icon class="ml-2">fas fa-users</v-icon>
                        </v-btn>
                        </router-link>
                    </v-btn-toggle>
                    <v-btn class="btn btn--flat" @click.native="showPopupCart()">
                        <v-badge color="green" :content="totalPproduct()">
                            <v-icon>fas fa-shopping-cart</v-icon>
                        </v-badge>
                    </v-btn>
                    <router-link to="/login">
                        <v-btn class="btn btn--flat btn-login">
                            <span v-if="isAuthenticated" class="mr-4">{{profile.displayname}}</span>
                            <v-icon>fas fa-user-circle</v-icon>
                        </v-btn>
                    </router-link>
                </v-toolbar-items>
            </v-toolbar>
            <transition name="appear">
                <popupcart class="cart" v-if="getPopupCart" :shoppingcart="getProductsInCart"/>
            </transition>
            <transition name="appear">
                <popupLogin class="cart" v-if="getPopupLogin && !isAuthenticated"/>
            </transition>
            <maskBg v-if="getPopupCart" @click.native="showPopupCart()"/>
            <maskBg v-if="getPopupLogin && !isAuthenticated" @click.native="showPopupLogin()"/>
            <main>
                <v-content>
                    <v-container fluid class="ma-0 pr-0">
                        <router-view></router-view>
                    </v-container>
                </v-content>
            </main>
            <v-snackbar
                :timeout=50000
                :color="message.color"
                :right="null"
                :top="true"
                v-model="message.visible"
            >
                <v-icon dark class="mr-2">{{ message.icon }}</v-icon>
                {{ message.text }}
            </v-snackbar>

            <v-footer :fixed="fixed" color="primary" class="text-center white--text">
                &copy; 2020
            </v-footer>
        </v-app>
    </div>
</template>
<style>
    .btn--flat {
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .primary {
        background-color: #1867c0 !important;
        border-color: #1867c0 !important;
    }

    a {
        text-decoration: inherit;
    }

    .product a {
        text-decoration: inherit;
    }

    .product-desc-features ul li {
        list-style-type: disc;
        padding-left: 0;
        margin-bottom: 0;
        line-height: 16px;
        font-size: 12px;
        font-weight: 300;
        color: #000000
    }

    .product-name {
        font-size: 19px !important;
        font-weight: 600;
        color: #000000
    }

    .box {
        top: 64px;
        right: 79px;
        background-color: #f2f2f2;
        z-index: 1025 !important;
    }

    .mask {
        z-index: 1024 !important;
    }

    .item-name {
        font-size: 17px !important;
    }

    .v-content {
        padding-top: 64px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
    }

    .v-footer {
        display: block !important;
    }

    .v-btn-toggle > .v-btn.btn-action {
        height: 100% !important;
        margin: 0px !important;
    }

    .v-item-group .btn-action{
        height:100%!important
    }
    .router-link-active{
        background: #055bb0 !important;
    }
    .v-snack--top {
        top: 76px!important;
    }
    .btn-login{
        height: 100%!important;
    }
    .img-avatar .v-image__image{
        background-size: inherit !important;
    }
    .v-snack__content {
        justify-content: initial!important;
    }
</style>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import popupcart from './components/layouts/popupCart';
    import popupLogin from './components/layouts/propupLogin';
    import maskBg from './components/layouts/Mask'

    export default {
        created() {
            this.all();
            if (this.$store.getters['auth/isAuthenticated']) {
                this.getProfile();
            }
        },
        data() {
            return {
                clipped: true,
                drawer: true,
                fixed: true,
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'E-commerce'
            }
        },
        methods: {
            ...mapActions({
                showOrHiddenPopupCart: 'product/showOrHiddenPopupCart',
                showOrHiddenPopupLogin: 'product/showOrHiddenPopupLogin',
                getProfile: 'user/userRequest',
                all: 'shoppingcart/all',
            }),
            hasProduct() {
                return this.getProductsInCart.length > 0;
            },
            showPopupCart() {
                this.showOrHiddenPopupCart();
            },

            showPopupLogin() {
                this.showOrHiddenPopupLogin();
            },

            totalPproduct() {
                console.log('reduce', this.getProductsInCart);
                return this.getProductsInCart.reduce((current, next) =>
                    current + (parseInt(next.total_products)), 0);
            },

        },
        components: {
            popupcart,
            popupLogin,
            maskBg
        },
        computed: {
            ...mapGetters({
                getProductsInCart: 'shoppingcart/getProductsInCart',
                getPopupCart: 'product/getPopupCart',
                getPopupLogin: 'product/getPopupLogin',
                isAuthenticated: 'auth/isAuthenticated',
                profile: 'user/profile',
                message: 'common/message'
            }),
        },

    }

</script>
