<template>
    <div class="pa-5">
        <v-container fluid>
            <h4>New User</h4>
            <user-add-component @save="onSave($event)" @cancel="onCancel"></user-add-component>
        </v-container>
    </div>
</template>

<script>
    import userAddComponent from '../../../components/layouts/pages/admin/user/user-add.component.vue';

    import FileUpload from 'vue-upload-component';
    import { mapActions } from 'vuex'

    export default {
        components: {
            userAddComponent,
            FileUpload
        },
        data: () => ({
        }),
        methods: {
            ...mapActions({
                insert: 'user/insert',
                find: 'user/find',
                showMessage: 'common/showMessage'
            }),
            onSave (product) {
                this.insert(product).then(() => {
                    this.showMessage({text: 'User has been saved', icon: 'info_outline', color: 'green'})
                    //this.find()
                    this.$router.push('/admin/user/list')
                })
            },
            onCancel () {
                this.$router.go(-1)
            }
        }
    }
</script>
