<template>
    <div class="pa-5">
        <h4>Edit User</h4>
        <user-edit-component @save="onUpdate($event)" @cancel="onCancel" :user="getFindUser"></user-edit-component>
    </div>
</template>

<script>
    import userEditComponent from '../../../components/layouts/pages/admin/user/user-edit.component.vue';

    import FileUpload from 'vue-upload-component';
    import { mapGetters, mapActions } from 'vuex'

    export default {
        components: {
            userEditComponent,
            FileUpload
        },

        created () {
            this.currentUser(this.$route.params.id);
            this.find();
        },

        data: () => ({
        }),

        computed: {
            ...mapGetters({
                getFindUser: 'user/getFindUser'
            })
        },

        methods: {
            ...mapActions({
                update: 'user/update',
                find: 'user/find',
                showMessage: 'common/showMessage',
                selectUser: 'user/selectUser',
                currentUser: 'user/currentUser',
            }),
            onUpdate (product) {
                this.update(product).then(() => {
                    this.showMessage({text: 'User has been update', icon: 'info_outline', color: 'green'})
                    this.find()
                    this.$router.push('/admin/user/list')
                })
            },
            onCancel () {
                this.$router.go(-1)
            }
        }

    }
</script>
