<template>
    <div class="pa-5">
        <h4>Edit Product</h4>
        <product-edit-component @save="onUpdate($event)" @cancel="onCancel" :product="getFindProduct"></product-edit-component>
    </div>
</template>

<script>
    import productEditComponent from '../../../components/layouts/pages/admin/product/product-edit.component.vue';

    import FileUpload from 'vue-upload-component';
    import { mapGetters, mapActions } from 'vuex'

    export default {
        components: {
            productEditComponent,
            FileUpload
        },

        created () {
            this.currentProduct(this.$route.params.id);
            this.find();
        },

        data: () => ({
        }),

        computed: {
            ...mapGetters({
                getFindProduct: 'product/getFindProduct'
            })
        },

        methods: {
            ...mapActions({
                update: 'product/update',
                find: 'product/find',
                showMessage: 'common/showMessage',
                selectProduct: 'product/selectProduct',
                currentProduct: 'product/currentProduct',
            }),
            onUpdate (product) {
                this.update(product).then(() => {
                    this.showMessage({text: 'Product has been saved', icon: 'info_outline', color: 'green'})
                    this.find()
                    this.$router.push('/admin/product/list')
                })
            },
            onCancel () {
                this.$router.go(-1)
            }
        }

    }
</script>
