<template>
    <product-cart-component @save="onSave($event)" @cancel="onCancel" :shoppingcart="getProductsInCart"/>
</template>

<script>
    import { mapGetters,mapActions } from 'vuex';
    import productCartComponent from '../../../components/layouts/pages/public/product/product-cart.component.vue';

    export default {
        created() {
            this.all();
        },
        components: {
            productCartComponent,
        },
        computed: {
            ...mapGetters({
                getProductsInCart: 'shoppingcart/getProductsInCart',
            }),
        },
        methods: {
            ...mapActions({
                all: 'shoppingcart/all',
                insert: 'order/insert',
                showMessage: 'common/showMessage'
            }),
            onSave (product) {
                this.insert(product).then(() => {
                    this.showMessage({text: 'Order has been saved', icon: 'info_outline', color: 'green'})
                    //this.find()
                    this.$router.push('/admin/product/list')
                })
            },
            onCancel () {
                this.$router.go(-1)
            }
        }
    };
</script>

<style scoped>
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }

</style>
