<template>
    <product-detail-component :products="getAllProducts"/>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import productDetailComponent from '../../../components/layouts/pages/public/product/product-detail.component.vue';


    export default {

        created() {
            this.find(this.currentProduct);
        },
        components: {
            productDetailComponent,
        },
        computed: {
            ...mapGetters({
                getAllProducts: 'product/getAllProducts',
            }),
        },
        methods: {
            ...mapActions({
                currentProduct: 'product/currentProduct',
                find: 'product/find'
            }),
        }
    };
</script>

<style scoped>
    .listOfProducts {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .product {
        width: 300px;
        background-color: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 7px;
    }

    .product-name {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .product-price {
        width: 100%;
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5em;
    }

</style>

