<template>
  <div class="box">
      <h4 id="shopping-bag-title mb-20" class="shopping-bag-title panel-title panel-title-main text-uppercase">Your shopping cart <small class="count-cart">({{totalPproduct()}})</small></h4>
    <span v-if="shoppingcart.length === 0">No products :/</span>
    <div v-for="(shopping, index) in shoppingcart"  :key="index" class="box-item">
        <div class="picture-wrapper">
           <img :src="(shopping.product.images.length > 0) ? shopping.product.images[0].src : ''" alt="" class="item-thumb" />
        </div>
        <div class="product_item_name  ">
            {{ shopping.product.name }}  <span class="ml-2 font-weight-bold">{{shopping.total_products === 1  ? "" : "(" + parseInt(shopping.total_products) + ")"}}</span>
        </div>
        <div class="product_item_price">
           <span>
                {{ shopping.total_products * shopping.product.price | numeralFormat('$ 0,0[.]00') }}
            </span>
        </div>
    </div>
      <div class="shopping-bag-total">
          <b class="shopping-bag-total-text">Total</b>
          <em class="shopping-bag-total-value">{{ totalPrice() | numeralFormat('$ 0,0[.]00') }}</em>
      </div>
    <div class="cart-info pa-15 mt-5" v-if="totalPproduct() > 0">
        <router-link to="/shopping-cart" class="action-shopping-cart">
            <v-btn
                class="grey darken-4 white--text"
                text
                large
                block
                @click.native="addProductToCart(product)">
                View Your Shopping Cart
                <v-icon class="ml-5">fas fa-shopping-cart</v-icon>
            </v-btn>

      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {Money} from 'v-money'

export default {
    props: ['shoppingcart'],
    created() {

    },
    data () {
        return {
            price: '',
            money: {
                decimal: '.',
                thousands: ',',
                prefix: '$ ',
                suffix: ' ',
                precision: 2,
                masked: true
            }
        }
    },
    components: {
        Money
    },
  methods: {
    ...mapActions({
        showOrHiddenPopupCart: 'product/showOrHiddenPopupCart',

    }),
    totalPrice() {
        return this.getProductsInCart.reduce((current, next) =>
            current + (parseInt(next.total_products) * next.product.price), 0);
    },
      totalPproduct(){
          console.log('reduce',this.getProductsInCart);
          return this.getProductsInCart.reduce((current, next) =>
              current + (parseInt(next.total_products)), 0);
      },
    showPopupCart() {
      this.showOrHiddenPopupCart();
    },
  },
  computed: {
    ...mapGetters({
        getProductsInCart: 'shoppingcart/getProductsInCart',
    }),
  },
};
</script>

<style scoped>
  .box {
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(73, 74, 78, 0.1);
    border-radius: 0px;
    box-sizing: border-box;
    padding: 2em 2em;
    position: fixed;
    z-index: 1;
      right:0px!important;
  }

  .box:after {
    content: '';
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background: inherit;
    position: absolute;
    top: -15px;
    right: 15px;
  }

  .box-item {
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-sizing: border-box;
      border-top: 1px solid #eae8e4;
    border-radius: 3px;
    padding: 7px 10px;
    margin-top: .3em;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
  }
    .box-item img{

    }

  .item-thumb {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
  }

  .item-name {
    grid-column: 2/4;
    grid-row: 1/2;
    font-weight: normal;
  }

  .item-amount {
    grid-column: 2/3;
    grid-row: 2/4;
    color: #ddd;
  }

  .cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shopping-bag-total {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px 0px 15px;
      margin-top: 25px;
  }
  .shopping-bag-total .shopping-bag-total-text {
      font-family: "Louis Vuitton Web","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      font-style: normal;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.2;
      letter-spacing: 0;
      text-transform: uppercase;
  }
 .shopping-bag-total .shopping-bag-total-value {
      font-family: "Louis Vuitton Web","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 1.1428571428571428;
      letter-spacing: 0;
  }

  .picture-wrapper {
      flex: 0 0 auto;
      width: 5rem;
      height: 5rem;
      background-color: #fff;
  }
  .picture-wrapper img {
      display: block;
      width: 5rem!important;
      height: 5rem;
  }
  .product_item_name {
      flex: 1 1 auto;
      word-wrap: break-word;
      width: 6.25rem;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25;
      letter-spacing: .4px;
      text-transform: uppercase;
      margin: auto 1rem;
  }
  .product_item_price {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
      letter-spacing: .4px;
      flex: 1 1 auto;
      text-align: right;
  }
  .panel-title {
      font-family: "Louis Vuitton Web","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.1428571428571428;
      letter-spacing: 0;
      margin-bottom:10px
  }

    .action-shopping-cart{
        width: 100%;
    }
</style>
