<template>
    <v-parallax
        dark
        height="700"
        src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
    >
        <v-layout
            align-center
            justify-center
            class="login">
            <v-flex
                xs12
                sm8
                md4>
                <v-card
                    class="elevation-12">
                    <v-toolbar
                        color="general">
                        <v-toolbar-title class="text-center" align-center
                                         justify-center>Sign in to your account
                        </v-toolbar-title>
                        <v-spacer/>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                ref="username"
                                v-model="form.username"
                                :rules="[() => !!form.username || 'This field is required']"
                                prepend-icon="mdi-account"
                                label="Login"
                                placeholder="Email"
                                required
                                class="mb-3"
                            />
                            <v-text-field
                                ref="password"
                                v-model="form.password"
                                :rules="[() => !!form.password || 'This field is required']"
                                :append-icon="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                                :type="showPassword ? 'text' : 'password'"
                                prepend-icon="mdi-lock"
                                label="Password"
                                placeholder="Password"
                                required
                                @keydown.enter="login"
                                @click:append="showPassword = !showPassword"
                            />
                        </v-form>
                    </v-card-text>
                    <v-divider class="mt-5"/>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn
                            align-center
                            justify-center
                            large
                            block
                            color="general"
                            @click="login">Login
                        </v-btn>
                    </v-card-actions>
                    <v-snackbar
                        v-model="snackbar"
                        :color="color"
                        :top='true'
                    >
                        {{ errorMessages }}
                        <v-btn
                            dark
                            block
                            @click="snackbar = false"
                        >
                            Close
                        </v-btn>
                    </v-snackbar>
                </v-card>
            </v-flex>
        </v-layout>
    </v-parallax>
</template>

<script>
    import {Form} from "vform";

    export default {
        data: () => ({
            form: new Form({
                username: 'the-email@example.com',
                password: 'elPassword',
                grant_type: 'password',
                client_id: '2',
                client_secret: 'Br3TLUynWr0vPe392Gp4OcVOniDllBH4Pfo5ArHl'
            }),
            errorMessages: false,
            snackbar: false,
            color: 'general',
            showPassword: false
        }),
        methods: {
            login: function () {
                let username = this.username
                let password = this.password
                this.$store.dispatch('auth/login', this.form)
                    .then(() => this.$router.push('/'))
                    .catch(err => {
                            console.log(err)
                            this.snackbar = true
                        }
                    );
            }
        },
        metaInfo() {
            return {
                title: 'Super Secret | Login'
            }
        }
    }

</script>

<style>
    .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    .login .v-card {
        background-color: #fff !important;
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12) !important;
        border-radius: 6px;
    }

    .login .v-card .v-toolbar {
        box-shadow: none !important;
    }

    .login .v-card .v-toolbar .v-toolbar__title {
        width: 100%;
        font-size: 1.5rem;
    }

    .login .elevation-12 {
        box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12) !important;
    }
</style>
